{% extends './base.html' %}
{% block content %}


<style>
    .form-group {
        position: relative;
        margin-bottom: 1.5rem;
    }

    .form-label {
        position: absolute;
        top: 50%;
        left: 25px;
        transform: translateY(-50%);
        background: #fff;
        padding: 0 5px;
        color: #aaa;
        transition: 0.2s ease all;
        pointer-events: none;
    }

    .form-control:focus,
    .form-select:focus,
    .form-control.filled,
    .form-select.filled {
        border-color: #a36e29;
        box-shadow: none;
    }

    .form-control:focus~.form-label,
    .form-select:focus~.form-label,
    .form-control:not(:placeholder-shown)~.form-label,
    .form-select:not(:placeholder-shown)~.form-label {
        top: 0;
        transform: translateY(-60%);
        left: 20px;
        font-size: 14px;
        color: #a36e29;
    }

    .form-control.filled~.form-label,
    .form-select.filled~.form-label,
    .form-control:not(:placeholder-shown)~.form-label,
    .form-select:not(:placeholder-shown)~.form-label {
        color: black;
    }

    .form-control:focus~.form-label,
    .form-select:focus~.form-label,
    .form-control:focus.filled~.form-label,
    .form-select:focus.filled~.form-label {
        font-weight: bold;
        color: #a36e29;
    }

    .form-select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .form-select::-ms-expand {
        display: none;
    }



    .add-purity {
        position: absolute;
        top: 0px;
        right: 24px;
    }


    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    
    
</style>

<div class="container mt-5">

    {% for msg in messages %}
        <p class="text-danger mt-2 fw-bold text-center">{{msg}}</p>
    {% endfor %}

    <form method="post">
        {% csrf_token %}

    <div class="row mt-5 mb-3">
        <h4 style="text-align:center;color:#a36e29;margin-bottom:28px;">Member</h4>
        <div class="col-md-4">
            <div class="form-group">
                <input type="date" class="form-control" id="join_date" name="join_date"
                    value="{{ current_date|date:'Y-m-d' }}" placeholder="">
                <label class="form-label" for="join_date">Date</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <select class="form-select w-75" id="scheme_name" name="scheme_name">
                    <option value="" disabled selected hidden></option> <!-- Empty default option for label floating -->

                    {% for scheme in schemes %}
                    <option value="{{ scheme.scheme_name }}" data-scheme-id="{{ scheme.scheme_id }}">{{scheme.scheme_name }}</option>
                    {% endfor %}


                </select>
                <label class="form-label" for="scheme_name">Scheme Name</label>

                <button type="button" class="btn btn-primary add-purity" data-bs-toggle="modal" data-bs-target="#myModal">
                    <i class="fas fa-plus"></i>
                  </button>
            </div>
        </div>
        <div class="col-md-4">

            <div class="form-group">
                <input type="text" class="form-control" id="member_name" name="member_name" placeholder="">
                <label class="form-label" for="member_name">Name</label>
            </div>
        </div>

    </div>




    <div class="row mb-3">

        <div class="col-md-3">

            <div class="form-group">
                <input type="email" class="form-control" id="email" name="email" placeholder="">
                <label class="form-label" for="email">Email</label>
            </div>
        </div>

        <div class="col-md-3">

            <div class="form-group">
                <input type="number" class="form-control" id="phone_number" name="phone_number" placeholder="">
                <label class="form-label" for="phone_number">Phone Number</label>
            </div>
        </div>

        <div class="col-md-3">

            <div class="form-group">
                <input type="text" class="form-control" id="referred_person_name" name="referred_person_name"
                    placeholder="">
                <label class="form-label" for="referred_person_name">Referral Member Name</label>
            </div>
        </div>

        <div class="col-md-3">

            <div class="form-group">
                <input type="text" class="form-control" id="referred_person_referral_code"
                    name="referred_person_referral_code" placeholder="">
                <label class="form-label" for="referred_person_referral_code">Referred Member Referral Code</label>
            </div>
        </div>


    </div>

    <div class="row mb-3">

        <div class="col-md-3">

            <div class="form-group">
                <input type="text" class="form-control" id="aadhaar" name="aadhaar" placeholder="">
                <label class="form-label" for="aadhaar">Aadhaar</label>
            </div>
        </div>





        <div class="col-md-3">

            <div class="form-group">
                <input type="text" class="form-control" id="pan" name="pan" placeholder="">
                <label class="form-label" for="pan">PAN</label>
            </div>
        </div>



        <div class="col-md-3">

            <div class="form-group">
                <input type="text" class="form-control" id="city" name="city" placeholder="">
                <label class="form-label" for="city">City</label>
            </div>
        </div>

        <div class="col-md-3">

            <div class="form-group">
                <input type="text" class="form-control" id="pin" name="pin" placeholder="">
                <label class="form-label" for="pin">Pin</label>
            </div>
        </div>








    </div>

    <div class="row mb-3">
        

        <div class="col-md-3">

            <div class="form-group">
                <textarea class="form-control" rows="4" id="address" name="address" placeholder="" required></textarea>

                <label class="form-label" for="address">Address</label>

            </div>
        </div>
    </div>
    <div class="row mb-3">
        <h4 style="text-align:center;color:#a36e29;margin-bottom:28px;">Nominee </h4>
        <div class="col-md-3">

            <div class="form-group">
                <input type="text" class="form-control" id="nominee_name" name="nominee_name" placeholder="">
                <label class="form-label" for="nominee_name">Name</label>
            </div>
        </div>
        <div class="col-md-3">

            <div class="form-group">
                <input type="email" class="form-control" id="nominee_email" name="nominee_email" placeholder="">
                <label class="form-label" for="nominee_email">Email</label>
            </div>
        </div>

        <div class="col-md-3">

            <div class="form-group">
                <input type="text" class="form-control" id="nominee_phone_number" name="nominee_phone_number"
                    placeholder="">
                <label class="form-label" for="nominee_phone_number">Phone Number</label>
            </div>
        </div>

        <div class="col-md-3">

            <div class="form-group">
                <input type="text" class="form-control" id="nominee_pan" name="nominee_pan" placeholder="">
                <label class="form-label" for="nominee_pan">Pan</label>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-3">
            <div class="form-group">
                <input type="text" class="form-control" id="nominee_adhaar" name="nominee_adhaar" placeholder="">
                <label class="form-label" for="nominee_adhaar">Adhaar</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <button class="btn btn-primary">Submit</button>
        </div>
    </div>
    </form>

<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title text-center">Add Scheme</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <form method="post" action="{% url 'add_scheme' %}">
            {% csrf_token %}
  
        <!-- Modal body -->
        <div class="modal-body text-center">
            <div class="form-group">
                <input type="text" class="form-control w-75" id="add_scheme_name" name="add_scheme_name" placeholder="">
                <label class="form-label" for="add_scheme_name">Scheme Name</label>
            </div>

            <div class="form-group">
                <select class="form-select w-75" id="add_scheme_maturity_period" name="add_scheme_maturity_period">
                    <option value="" disabled selected hidden></option> <!-- Empty default option for label floating -->

                    {% for value, display in maturity_period_choices %}
                                <option value="{{ value }}">{{ display }}</option>
                            {% endfor %}
                </select>
                <label class="form-label" for="add_scheme_maturity_period">Maturity Period(Months)</label>
            </div>

            <div class="form-group">
                <select class="form-select w-75" id="add_scheme_benefit" name="add_scheme_benefit">
                    <option value="" disabled selected hidden></option> <!-- Empty default option for label floating -->

                    

                    {% for value, display in benefit_choices %}
                                <option value="{{ value }}">{{ display }}</option>
                            {% endfor %}


                </select>
                <label class="form-label" for="add_scheme_benefit">Select Benefit</label>
            </div>

            <div class="form-group">
                <input type="text" class="form-control w-75" id="add_scheme_installment_amount" name="add_scheme_installment_amount" placeholder="">
                <label class="form-label" for="add_scheme_installment_amount">Installment Amount</label>
            </div>

            <div class="text-center mt-5 mb-3">
                <button type="submit" class="btn btn-primary border-radius pl pr mb-3" style="width:15%">Submit</button>
            </div>
        </div>

        </form>

  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div>

</div>

{% endblock content %}