{% extends './base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        .container {
            margin-left: 250px;

        }

        label {
            width: 150px;
        }

        .inline {
            display: flex;
            margin: 25px;
        }

        .border-radius {
            border-radius: 8px;
        }

        .select {
            display: block;
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;

            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;

        }
        .ml{
            margin-left:10px;
        }
    </style>
</head>

<body>

    <div class="container">

        <ul class="nav nav-pills">
            <li class="active"><a data-toggle="pill" href="#home">Member </a></li>
            <li><a data-toggle="pill" href="#menu1">Nominee</a></li>
            
        </ul>

        {% for msg in messages %}
        <p class="text-danger mt-2 fw-bold text-center">{{msg}}</p>
        {% endfor %}

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">

                <form method="post">
                    {% csrf_token %}
                    <div class="row mt-5 mb-5">


                        <div class="col-md-6">

                            <div class="mb-3 mt-3 inline">
                                <label for="join_date" class="form-label">Date</label>
                                <input type="date" class="form-control w-50" id="join_date" name="join_date" value="{{ current_date|date:'Y-m-d' }}">
                            </div>

                            <div class="mb-3 mt-3 inline">
                                <label for="member_name">Member Name</label>
                                <input type="text" class="form-control w-50" name="member_name"   pattern="[A-Za-z\s]+" title="Please enter only letters"  required>
                            </div>

                    

                            <div class="mb-3 inline">
                                <label for="scheme_name">Scheme Name</label>
                                <!-- <select class="form-select select w-50" name="scheme_name" onchange="saveSchemeInSession()" id="scheme-dropdown">
                                    <option value="">Select</option>
                                    {% for scheme in schemes %}
                                        <option value="{{ scheme.scheme_name }}">{{ scheme.scheme_name }}</option>
                                    {% endfor %}
                                </select> -->

                                <select class="form-select select w-50" name="scheme_name" onchange="fetchSchemeDetails(this)" id="scheme-dropdown">
                                    <option value="">Select</option>
                                    {% for scheme in schemes %}
                                        <option value="{{ scheme.scheme_name }}" data-scheme-id="{{ scheme.scheme_id }}">{{ scheme.scheme_name }}</option>
                                    {% endfor %}
                                </select>
                            
                                <button type="button" class="btn btn-info ml" data-toggle="modal" data-target="#addScheme">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                            
                        
                            <div class="mb-3 mt-3 inline">
                                <label for="email">Email</label>
                                <input type="email" class="form-control w-50" name="email">
                            </div>
                            <div class="mb-3 mt-3 inline">
                                <label for="phone_number">Phone Number</label>
                                <input type="text" class="form-control w-50" name="phone_number" 
                                       pattern="\d{10}" 
                                       title="Please enter exactly 10 digits" 
                                    >
                            </div>
                            



                            <div class="mb-3 inline">
                                <label for="referred_person_name">Referral Member Name</label>
                                <input type="text" class="form-control w-50" name="referred_person_name" pattern="[A-Za-z\s]+" 
                                title="Please enter only letters" >
                            </div>

                            <div class="mb-3 inline">
                                <label for="referred_person_referral_code">Referred Member Referral Code</label>
                                <input type="text" class="form-control w-50" name="referred_person_referral_code">
                            </div>

                            
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3 mt-3 inline">
                                <label for="aadhaar">Aadhaar</label>
                                <input type="text" class="form-control w-50"  id="aadhaar" name="aadhaar" pattern="\d{12}" 
                                title="Please enter a valid 12-digit Aadhaar card number" 
                                maxlength="12" minlength="12">
                            </div>

                           
                            <div class="mb-3 mt-3 inline">
                                <label for="pan">PAN</label>
                                <input type="text" class="form-control w-50" name="pan" pattern="[A-Z]{5}[0-9]{4}[A-Z]{1}" 
                                title="Please enter a valid 10-character PAN number in the format ABCDE1234F" 
                                maxlength="10" minlength="10">
                            </div>
                            <div class="mb-3 mt-3 inline">
                                <label for="address">Address </label>

                                <textarea class="form-control w-50" name="address"></textarea>
                            </div>
                            <div class="mb-3 inline">
                                <label for="city">City</label>
                                <input type="text" class="form-control w-50" name="city" pattern="[A-Za-z\s]+" 
                                title="Please enter only letters" >
                            </div>

                            <div class="mb-3 inline">
                                <label for="pin">PIN</label>
                                <input type="text" class="form-control w-50" name="pin" pattern="\d{6}" 
                                title="Please enter a valid 6-digit PIN code" 
                                maxlength="6" minlength="6" >
                            </div> 

                        </div>
                    </div>

                    <div class="text-center mt-5 mb-3">
                        <button type="submit" class="btn btn-primary border-radius pl pr mb-3"
                            style="width:15%">Submit</button>
                    </div>
                </form>


            </div>
            <div id="menu1" class="tab-pane fade">

                <form method="post" action="{% url 'add_nominee' %}">
                    {% csrf_token %}
                    <div class="row mt-5 mb-5">


                        <div class="col-md-6">
                            <div class="mb-3 mt-3 inline">
                                <label for="nominee_name"> Name</label>
                                <input type="text" class="form-control w-50" name="nominee_name" pattern="[A-Za-z\s]+" 
                                title="Please enter only letters">
                            </div>

                            <div class="mb-3 mt-3 inline">
                                <label for="nominee_email">Email</label>
                                <input type="email" class="form-control w-50" name="nominee_email">
                            </div>
                            

                            <div class="mb-3 mt-3 inline">
                                <label for="nominee_adhaar">Adhaar Number</label>
                                <input type="text" class="form-control w-50" name="nominee_adhaar"  pattern="\d{12}" 
                                title="Please enter a valid 12-digit Aadhaar card number" 
                                maxlength="12">
                            </div>

                        </div>
                        <div class="col-md-6">

                            <div class="mb-3 mt-3 inline">
                                <label for="nominee_phone_number">Phone Number </label>
                                <input type="text" class="form-control w-50" name="nominee_phone_number" pattern="\d{10}" 
                                title="Please enter exactly 10 digits" >
                            </div>

                            <div class="mb-3 mt-3 inline">
                                <label for="nominee_dob">DOB</label>
                                <input type="date" class="form-control w-50" name="nominee_dob">
                            </div>

                            <div class="mb-3 mt-3 inline">
                                <label for="nominee_pan">PAN Number</label>
                                <input type="text" class="form-control w-50" name="nominee_pan" pattern="[A-Z]{5}[0-9]{4}[A-Z]{1}" 
                                title="Please enter a valid 10-character PAN number in the format ABCDE1234F" 
                                maxlength="10" minlength="10">
                            </div>

                            
                        </div>
                    </div>

                    <div class="text-center mt-5 mb-3">
                        <button type="submit" class="btn btn-primary border-radius pl pr mb-3"
                            style="width:15%">Submit</button>
                    </div>
                </form>
            </div>
           
        </div>
    </div>


   
    <!-- Scheme Modal -->
<div class="modal fade" id="addScheme" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Scheme</h4>
            </div>
            <form method="post" action="{% url 'add_scheme' %}">
                {% csrf_token %}

                <div class="modal-body">
                    <div class="mb-3 mt-3 inline">
                        <label for="add_scheme_name">Scheme Name</label>
                        <input type="text" class="form-control w-50" name="add_scheme_name" required>
                    </div>

                    <div class="mb-3 mt-3 inline">
                        <label for="add_scheme_maturity_period">Maturity Period(Months)</label>
                        <select class="form-control w-50" name="add_scheme_maturity_period" required>
                            <option value="">Select</option>
                            {% for value, display in maturity_period_choices %}
                                <option value="{{ value }}">{{ display }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="mb-3 mt-3 inline">
                        <label for="add_scheme_benefit">Benefit</label>
                        <select class="form-control w-50" name="add_scheme_benefit" required>
                            <option value="">Select Benefit</option>
                            {% for value, display in benefit_choices %}
                                <option value="{{ value }}">{{ display }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="mb-3 mt-3 inline">
                        <label for="add_scheme_installment_amount">Installment Amount</label>
                        <input type="text" class="form-control w-50" name="add_scheme_installment_amount" required>
                    </div>

                    <div class="text-center mt-5 mb-3">
                        <button type="submit" class="btn btn-primary border-radius pl pr mb-3" style="width:15%">Submit</button>
                    </div>
                </div>
            </form>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




    
</body>

</html>

{% endblock content %}